.mpakt-bottomnav {
  border-top: 1px solid rgba(0,0,0,.08);
  background: #fff;
}

.mpakt-bottomnav__row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mpakt-tab {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  color: #6b7280;
  text-decoration: none;
  font-size: 12px;
}

.mpakt-tab__icon {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 4px;
}

.mpakt-tab.is-active {
  color: #111827;
  font-weight: 600;
}
